<h3>главная страница</h3>

  <% @poster.each do |post| %>
  <div class="alert alert-light">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
      <%= link_to 'Show', post_path(post), :class=>'btn btn-outline-primary' %>
      </div>
  <% end %>
