<h2><%=@post.title%></h2>
<p><%=@post.body%></p>

<%= link_to "Редактировать", edit_post_path(@post), :class=>'btn btn-warning'%>
<%= link_to "Удалить", post_path(@post), method: :delete, :class=>'btn btn-danger'%>
